DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001
DJANGO_SECURE_SSL_REDIRECT=false
DATABASE_URL=postgresql://username:password@host/database?sslmode=require
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_ADMIN_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
ADMIN_NOTIFICATION_EMAIL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
