__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
.python_packages/

db.sqlite3
db.sqlite3-journal
media/
staticfiles/

.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
coverage.xml

.env
*.local
